{% import "_includes/forms" as forms %}

<div class="field">
    <div class="heading">
        <label>Download Form Settings</label>
        <div class="instructions">Customize the download form for this entry</div>
    </div>

    {{ forms.lightswitchField({
        label: "Allow Direct Downloads"|t('rapid-download'),
        instructions: "Allow users to download files directly without entering email"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-settings-allowDirectDownload',
        name: 'fields[' ~ field.handle ~ '][settings][allowDirectDownload]',
        on: settings.allowDirectDownload ?? field.allowDirectDownload
    }) }}

    {{ forms.textField({
        label: "Form Title"|t('rapid-download'),
        instructions: "Title shown above the download form"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-settings-formTitle',
        name: 'fields[' ~ field.handle ~ '][settings][formTitle]',
        value: settings.formTitle ?? field.formTitle
    }) }}

    {{ forms.textareaField({
        label: "Form Description"|t('rapid-download'),
        instructions: "Description text shown above the email input"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-settings-formDescription',
        name: 'fields[' ~ field.handle ~ '][settings][formDescription]',
        value: settings.formDescription ?? field.formDescription
    }) }}

    {{ forms.textField({
        label: "Button Text"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-settings-buttonText',
        name: 'fields[' ~ field.handle ~ '][settings][buttonText]',
        value: settings.buttonText ?? field.buttonText
    }) }}

    {{ forms.textField({
        label: "Success Message"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-settings-successMessage',
        name: 'fields[' ~ field.handle ~ '][settings][successMessage]',
        value: settings.successMessage ?? field.successMessage
    }) }}
</div>