{% import "_includes/forms" as forms %}

<div class="field">
    <div class="heading">
        <label>Download Form Settings</label>
    </div>

    {{ forms.lightswitchField({
        label: "Allow Direct Downloads"|t('rapid-download'),
        instructions: "Allow users to download files directly without entering email"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-allowDirectDownload',
        name: 'fields[' ~ field.handle ~ '][allowDirectDownload]',
        on: field.allowDirectDownload
    }) }}

    {{ forms.textField({
        label: "Form Title"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-formTitle',
        name: 'fields[' ~ field.handle ~ '][formTitle]',
        value: field.formTitle
    }) }}

    {{ forms.textareaField({
        label: "Form Description"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-formDescription',
        name: 'fields[' ~ field.handle ~ '][formDescription]',
        value: field.formDescription
    }) }}

    {{ forms.textField({
        label: "Button Text"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-buttonText',
        name: 'fields[' ~ field.handle ~ '][buttonText]',
        value: field.buttonText
    }) }}

    {{ forms.textField({
        label: "Success Message"|t('rapid-download'),
        id: 'fields-' ~ field.handle ~ '-successMessage',
        name: 'fields[' ~ field.handle ~ '][successMessage]',
        value: field.successMessage
    }) }}
</div>